.button{
    margin: auto 5px !important;
}
.task{
    border-bottom: 2px solid white;
}
.editform .input{
    background-color: white;
    width: 70vw;
}
.editform .button{
    margin: 10px 10px !important;
}